/* .projectsnew{
    height: 100%;
     background-color: red; 
    border-radius: 5px;
    justify-content: space-between;
} */
.projectsnew {
    height: 100%;
    
   
}
.glasseff{
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border-radius: 5px;
    justify-content: space-between;
    backdrop-filter: blur(2px); /* Apply blur for glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for definition */
    height: 100%;
    padding: 1%;
    margin-top: 2%;
}
.project-cardnew{
    display: flex;
    margin-top: 5%;
    align-items: center;

}
.project-bodynew{
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(0.5px); /* Apply blur for glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for definition */
    border-radius: 3px;
    height: "100%";
    padding: 20px;
    min-height: 42.9vh;
   
}
.mobilevideo{
                    height:100% ;
                    width: 100%;
                    margin-top: 1%;
                    margin-left: 1%;
                    border-radius: 2px;
}
.project-bodynew{
    margin-left: 2%;
    padding: 2%;
    width: 60%;
    color: black;
}

/* Mobile Devices (up to 767px) */
@media only screen and (max-width: 767px) {
    .project-cardnew{
        display: flex;
        margin-top: 5%;
        align-items:center;
        flex-direction: column;
    
    }
    .mobilevideo {
        height: 200%;
        width: 200%;
        margin-left: -50%;
      }
      .project-bodynew{
        width: 99%;
        margin-left: 0.5%;
      }
  }
  
  /* Tablet Devices (768px to 1024px) */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
      font-size: 16px;
      padding: 20px;
    }
  
    .container {
      flex-direction: row;
    }
  
    .header {
      font-size: 22px;
      text-align: left;
    }
  }
  
